/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
	position: relative;
	min-height: 100%;
}

body {
	padding-bottom: 3rem;
	margin-bottom: 60px;
	color: #5a5a5a;
}

hr {
	border-top: 1px solid #cecece !important;
}

/* CUSTOMIZE THE LARAVEL
-------------------------------------------------- */
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
	width: 55%;
	margin: 0 auto;
	top: 50px;
	position: relative;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
	margin-bottom: 4rem;
}

.carousel-caption {
	z-index: 10;
	color: #262626 !important;
	text-shadow: none !important;
}

.carousel-item {
	height: 32rem;
	border-bottom: 1px solid #dbdbdb;
	background-color: #fafafa;
}
.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

.carousel-indicators {
	top: 1.5rem;
	right: 1.5rem;
	bottom: auto;
	left: auto;
	width: 1rem;
	margin-left: 0;
}

.carousel-indicators > li {
	margin-bottom: .25rem;
}

/* Navigation bar */
.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 22px;
}

.nav-spacing {
	width: 1px;
    height: 30px;
    background-color: #dbdbdb;
    margin-top: 10px;
}

.navbar {
	margin: 0 auto !important;
    border-bottom: 1px solid #dbdbdb;
}

/* Footer */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
}

.footer>.container {
	width: auto;
	max-width: 1000px;
	padding: 0 15px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-icon {
	border: 7px solid #5a5a5a;
	border-radius: 100%;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	text-align: center;
	margin-top: 30%;
}

.featurette-icon i {
	line-height: 1.5;
}

/* Login form
-------------------------------------------------- */
.form-signin {
    max-width: 300px; /*  */
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.form-signin-heading {
	font-size: 32px;
	cursor: default;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 20px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"], .form-signin input[type="text"], .form-signin input[type="file"] {
    margin-bottom: 6px;
	border-radius: 0px !important;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 0px !important;
}
.btn-group-lg > .btn, .btn-lg {
	padding: 10px 16px !important;
    border-radius: 0px !important;
}

.form-muted {
	color: #777;
    padding-top: 10px;
    display: block;
}

/* Gallery
------------------------- */
.profile-avatar {
	border: 3px solid white;
	border-radius:100%;
	-webkit-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.39);
	box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.39);
}

.gallery {
	padding: .5vw;
	font-size: 0;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap; 
	flex-flow: row wrap; 
	display: -webkit-box;
	display: flex;
	justify-content: center;
}
.gallery a { 
	width: 293px; 
	margin: .5vw; 
}
.gallery a img { 
	width: 100%; 
	height: 100%; 
}

/* View image
------------------------- */
.view-image {
	display: block;
    width: 87%;
    height: 100%;
	overflow-x: hidden;
    overflow-y: auto;
	background-color: #fdfdfd;
	-webkit-box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.39);
	word-break: break-word;
	margin: 0 auto;
}

.view-header {
	display: inline-flex;
	text-align: left;
	padding: 0;
	margin: 0 auto;
}

.view-author {
	padding-right: 5px;
	color: #262626;
	
}

.view-avatar {
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid white;
	border-radius: 100%;
	-webkit-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.39);
	box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.39);
}

.view-hours {
	float: right;
	width: auto;
	margin-top: 20px;
	padding: 0;
}

.view-title {
	width:auto;
	padding: 0;
}

.view-text {
	color: black;
    padding-left: 5px;
    width: 340px;
    word-break: break-all;
    font-family: 'Calibri', sans-serif;
}

.view-image hr {
	width: 335px;
	margin-top: 0px !important;
}

/* Upload
------------------------- */
#upload-preview-image {
    border: 3px solid white;
    -webkit-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.39);
}
.upload-row {
    margin-left: 50px;
}
.upload-header {
    display: inline-flex;
    width: 300px;
    padding-bottom: 25px;
    text-align: left;
    margin-right:100%;
}
.upload-subtitle {
    font-size: 25px;
    padding-left: 5px;
    line-height: 1.05;
    padding-top: 7%;
}
.upload-dropdown {
    margin-bottom: 6px;
    border-radius: 0px !important;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 400px) { /* Gallery */
	.gallery { align-items: center; justify-content: center; }
	.gallery div { margin-top: 5px; }
	.gallery { padding: 0; }
        .upload-preview-image { margin-top:30px; }
        .upload-header { margin-right: 0px; }
}